
  body{
   background-image: url(/);
    background-color:greenyellow;

  }





 h1{

    text-align: center;

font-family: 'Titillium Web', sans-serif;
 }




dev{
width: 400px ;
height: 600px;
border-width: 1px;
border-style: solid;
border-color: black;
float: left;

}

img{

    width: 100%;
    height: 300px;
}

dev p{
text-align: center;


}


span{
    font-weight: bold;
}














