h1{

color: tomato;
text-align: center;
text-decoration: underline;

}

     body{
    background-color: black;
    
    
    } 

   #second{ 

        color:#2910cc ;
  text-align:left ;

   }


  .cls { color:hsl(340,50,20 ) ;



}

#four{
color: violet;



}
  #four{color: yellowgreen;
}

.cls
{color: rgb(9, 145, 104);
}





